.secondRight{
     background-image: url('../aboutPic-compressed.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover ;
     display: flex;
     justify-content: center;
     align-items: center;
}
