.parent{
     background-image: radial-gradient(gray, black);
     min-height: 300px;
     color: linen;
}
.header{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     font-size: 2.5em;
     background: -webkit-linear-gradient(#743ad5, #d53a9d);
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
     /* border-bottom: 2px solid blueviolet; */
     box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 .5rem #302b63,
              0 0 0.8rem #302b63,
              0 0 1.8rem #302b63,
              inset 0 0 1.3rem #302b63;
     padding-top: .5em;
     padding-bottom: .3em;
     font-weight: 600;

}
.header > p{
     font-size: 20px;
}

.flipCards{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     padding-top: 1em;
     padding-bottom: 1em;
}