*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a{
  color: #333;
  text-decoration: none;
}

/* .super-class{
  display: grid;
  
}
.first-section{
  grid-area: firstSection;
}
.Second-section{
  grid-area: SecondSection;
} */
